#TOPO {
	WIDTH:AUTO;	
	HEIGHT:350PX;	
	BACKGROUND-IMAGE: LINEAR-GRADIENT(TO BOTTOM, #CF2B4F, #980021);
     
}

#MENU {

WIDTH: AUTO;
HEIGHT:50PX;
BACKGROUND-COLOR:RED;

}

#CONTEUDO {
 WIDTH: AUTO;
HEIGHT:520;
BACKGROUND-COLOR: RED;
}

#RODAPE {
WIDTH:AUTO;
HEIGHT:25PX;
BACKGROUND-COLOR: RED;

}