#DIV1 {
     WIDTH: ;/* TAMANHO */
	 HEIGHT: 55PX; /* ALTURA */
	 BACKGROUND-COLOR: PINK; /* COR DE FUNDO */
	 BORDER: 5PX DOUBLE; /* BORDA LINHA DE 1 PX DE EXPESSURA. */
	 /*TIPO DA BORDA:DOUBLE, OUTSET, DASHED, DOTTED, INSET, GROOVE, SOLID*/
	 }
	 
	 #DIV2 {
     WIDTH: ;
	 HEIGHT: 55PX; 
	 BACKGROUND-COLOR: GREEN; 
	 BORDER: 5PX OUTSET;
	 }
	 
	 #DIV3 {
     WIDTH: ;
	 HEIGHT: 55PX; 
	 BACKGROUND-COLOR: YELLOW; 
	 BORDER: 5PX INSET;
          }	
		  
	#DIV4 {
     WIDTH: ;
	 HEIGHT: 55PX; 
	 BACKGROUND-COLOR: BLUE; 
	 BORDER: 5PX DASHED;
	 }
	 
	 #DIV5 {
     WIDTH: ;
	 HEIGHT: 55PX; 
	 BACKGROUND-COLOR: WHITE; 
	 BORDER: 5PX DOTTED;
	       }
		   
		   #DIV6 {
     WIDTH: ;
	 HEIGHT: 55PX; 
	 BACKGROUND-COLOR: RED; 
	 BORDER: 5PX GROOVE;
	       }
		   
		   #DIV7 {
     WIDTH: ;
	 HEIGHT: 55PX; 
	 BACKGROUND-COLOR: ORANGE; 
	 BORDER: 5PX SOLID;
	       }