.Cx1 {

width:200px ;
Height:200px ;
Background-color: #4682B4 ;
Border: 1px solid;
float: left;
margin:3px 3px 3px 3px;
}

.Cx2 {

width:200px ;
Height:200px ;
Background-color: #4682B4 ;
Border: 1px solid;
float: left;
margin:3px 3px 3px 3px;
}

.Cx3 {

width:200px ;
Height:200px ;
Background-color: #4682B4 ;
Border: 1px solid;
float: left;
margin:3px 3px 3px 3px;